<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>home</servlet-name>
    <servlet-class>com.wst.view.Homepage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUserData</servlet-name>
    <servlet-class>com.wst.controler.UpdateUserData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserReg</servlet-name>
    <servlet-class>com.wst.controler.UserReg</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteUserById</servlet-name>
    <servlet-class>com.wst.controler.DeleteUserById</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>com.wst.controler.LoginCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Booking</servlet-name>
    <servlet-class>com.wst.controler.UserBooking</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BikesRecord</servlet-name>
    <servlet-class>com.wst.controler.BikesRecord</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookingD</servlet-name>
    <servlet-class>com.wst.controler.BookingD</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserContact</servlet-name>
    <servlet-class>com.wst.controler.UserContact</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TariffPlan</servlet-name>
    <servlet-class>com.wst.controler.TariffPlan</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TariffD</servlet-name>
    <servlet-class>com.wst.controler.TariffD</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TopUpInfo</servlet-name>
    <servlet-class>com.wst.controler.TopUpInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateBikeData</servlet-name>
    <servlet-class>com.wst.controler.UpdateBikeData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateTariffData</servlet-name>
    <servlet-class>com.wst.controler.UpdateTariffData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateTopUpData</servlet-name>
    <servlet-class>com.wst.controler.UpdateTopUpData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteBikeById</servlet-name>
    <servlet-class>com.wst.controler.DeleteBikeById</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteTariffById</servlet-name>
    <servlet-class>com.wst.controler.DeleteTariffById</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteTariffdById</servlet-name>
    <servlet-class>com.wst.controler.DeleteTariffdById</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteTopUpById</servlet-name>
    <servlet-class>com.wst.controler.DeleteTopUpById</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteContactById</servlet-name>
    <servlet-class>com.wst.controler.DeleteContactById</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUserBookingD</servlet-name>
    <servlet-class>com.wst.controler.UpdateUserBookingD</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateTariffDetails</servlet-name>
    <servlet-class>com.wst.controler.UpdateTariffDetails</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateContactStatus</servlet-name>
    <servlet-class>com.wst.controler.UpdateContactStatus</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateBookingById</servlet-name>
    <servlet-class>com.wst.controler.UpdateBookingById</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>com.wst.controler.UserLogout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminLoginCheck</servlet-name>
    <servlet-class>com.wst.controler.AdminLoginCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>com.wst.controler.AdminLogout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateBookingCompleteStatus</servlet-name>
    <servlet-class>com.wst.controler.UpdateBookingCompleteStatus</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateBookingCancelStatus</servlet-name>
    <servlet-class>com.wst.controler.UpdateBookingCancelStatus</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateBookingBreakStatus</servlet-name>
    <servlet-class>com.wst.controler.UpdateBookingBreakStatus</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserProfilePic</servlet-name>
    <servlet-class>com.wst.controler.UserProfilePic</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBookingtopup</servlet-name>
    <servlet-class>com.wst.controler.AddBookingtopup</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendEmail</servlet-name>
    <servlet-class>com.wst.controler.SendEmail</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookedEmail</servlet-name>
    <servlet-class>com.wst.controler.BookedEmail</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PaymentEmail</servlet-name>
    <servlet-class>com.wst.controler.PaymentEmail</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateBikeStatus</servlet-name>
    <servlet-class>com.wst.controler.UpdateBikeStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserData</servlet-name>
    <url-pattern>/UpdateUserData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserReg</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteUserById</servlet-name>
    <url-pattern>/DeleteUserById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Booking</servlet-name>
    <url-pattern>/UserBooking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BikesRecord</servlet-name>
    <url-pattern>/BikesRecord</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookingD</servlet-name>
    <url-pattern>/BookingD</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserContact</servlet-name>
    <url-pattern>/UserContact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TariffPlan</servlet-name>
    <url-pattern>/TariffPlan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TariffD</servlet-name>
    <url-pattern>/TariffD</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TopUpInfo</servlet-name>
    <url-pattern>/TopUpInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBikeData</servlet-name>
    <url-pattern>/UpdateBikeData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateTariffData</servlet-name>
    <url-pattern>/UpdateTariffData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateTopUpData</servlet-name>
    <url-pattern>/UpdateTopUpData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBikeById</servlet-name>
    <url-pattern>/DeleteBikeById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteTariffById</servlet-name>
    <url-pattern>/DeleteTariffById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteTariffdById</servlet-name>
    <url-pattern>/DeleteTariffdById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteTopUpById</servlet-name>
    <url-pattern>/DeleteTopUpById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteContactById</servlet-name>
    <url-pattern>/DeleteContactById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserBookingD</servlet-name>
    <url-pattern>/UpdateUserBookingD</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateTariffDetails</servlet-name>
    <url-pattern>/UpdateTariffDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateContactStatus</servlet-name>
    <url-pattern>/UpdateContactStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBookingById</servlet-name>
    <url-pattern>/UpdateBookingById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLoginCheck</servlet-name>
    <url-pattern>/AdminLoginCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBookingCompleteStatus</servlet-name>
    <url-pattern>/UpdateBookingCompleteStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBookingCancelStatus</servlet-name>
    <url-pattern>/UpdateBookingCancelStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBookingBreakStatus</servlet-name>
    <url-pattern>/UpdateBookingBreakStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserProfilePic</servlet-name>
    <url-pattern>/UserProfilePic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBookingtopup</servlet-name>
    <url-pattern>/AddBookingtopup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendEmail</servlet-name>
    <url-pattern>/SendEmail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookedEmail</servlet-name>
    <url-pattern>/BookedEmail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaymentEmail</servlet-name>
    <url-pattern>/PaymentEmail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBikeStatus</servlet-name>
    <url-pattern>/UpdateBikeStatus</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>300</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>Homepage.jsp</welcome-file>
  </welcome-file-list>
</web-app>